 
div#header {
	background: red; 
	heigt: 100px;
	padding-top: 25px;
}

div#reportHeader {
	background: red; 
	heigt: 100px;
	padding-top: 25px;
}

h1{
	font-family: Arial;
	font-style: bold;
	color: white;
	font-size: 300%;
   	margin-top: auto; 
}


.messenger-menubutton {
	font-size: 130%;
	font-weight: bold;
	width: 100%;
	margin-bottom: 1em;
	
}

.report-menubutton {
	font-size: 130%;
	font-weight: bold;
	width: 100%;
	margin-bottom: 1em;

}

div#navigation {
	float: left;
	width: 150px;
/* 	margin-top: 30px; */
	padding-top: 15pt;
	padding-left: 15pt;
	padding-right: 15pt;
	margin-right: 15pt;
	background: #C5C5C5;
/* 	border-style: solid; */
}

div#headline {
	margin-top: 15pt;
}

.edit-button {
	font-size: 100%;
	font-weight: none;
	color: white;
	width: 100%;
	margin-bottom: 10pt;
	margin-top: 10pt;
/* 	margin-left: 15pt; */
	background: red;
}

.report-suchen1-button{
	font-size: 100%;
	font-weight: none;
	color: white;
	width: 200px;
	margin-bottom: 10pt;
	margin-top: 1em; 
/* 	margin-left: 15pt; */
	background: red;
}



.label1 {
	font-size: 150%;
	font-style: bold;
	color: black;
	margin-right: 5pt;
/* 	margin-bottom: 1em; */
/* 	margin-top: 16pt; */
}

.teilnehmerNamen {
	font-size: 150%;
	font-style: bold;
/* 	margin-bottom: 1em; */
/* 	margin-top: 16pt; */
}
	
	
.suchEingabe-textbox {
	margin-top: 16pt;
}

.label1 {
	color: black;
	font-size: 25pt;
	}

div#impressum {
	float: center;
	margin-top: 15pt;
	font-size: 100%;
}

.labelGesetz {
	margin-top: 15pt;
}

.impressumGrid {
	padding-top: 15pt;
}

.labelName {
	font-size: 12pt;
}

.labelKontakt {
	font-size: 12pt;
}

.labelAbteilung {
	font-size: 12pt;
}

.labelChris {
	padding-right: 15pt;
}

.labelDani {
	padding-right: 15pt;
}

.labelReportLabel {
	font-size: 150%;
	font-weight: bold;
	width: 100%;
/* 	margin-top: 1em; */
}

.labelZeitraumVon {
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
	margin-top: 1em;
}

.labelZeitraumBis {
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
	margin-top: 1em;
}

.inhalt{
	font-size: 100%;
	font-weight: none;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 15pt;
}


.headline {
	font-size: 150%;
	font-style: bold;
}

.CellList1 {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 6px;
	margin-right: 20px;
}

.unterhaltungPanel{
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 6px;
	margin-left: 20px;
}

.antwortButton {
	font-size: 100%;
	font-weight: none;
	color: white;
	width: 100%;
	background: red;
}

.FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.report-mainbutton {
	font-size: 120%;
	font-weight: none;
	color: white;
	width: 180px;
	height: 70px;
	margin-bottom: 10pt;
	margin-top: 10pt;
	background: red;
}
