 
div#header {
	background: red; 
	heigt: 100px;
	padding-top: 25px;
}

h1{
	font-family: Arial;
	font-style: bold;
	color: white;
	font-size: 300%;
   	margin-top: auto; 
}

.messenger-menubutton {
	font-size: 130%;
	font-weight: bold;
	width: 100%;
	margin-bottom: 1em;
	
}

div#navigation {
	float: left;
	width: 15%;
/* 	margin-top: 30px; */
	padding-top: 15pt;
	padding-left: 15pt;
	padding-right: 15pt;
	margin-right: 15pt;
	background: #C5C5C5;
/* 	border-style: solid; */
}


div#text {
/* 	background: black; */
}

.edit-button {
	font-size: 100%;
	font-weight: none;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 15pt;
/* 	margin-left: 15pt; */
}
	
div#editbuttons {
/* 	background: black; */
}
	
.suchEingabe-textbox {
	margin-top: 16pt;
}

