<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<appengine-web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<use-google-connector-j>true</use-google-connector-j>

	<!-- Servlets -->
	<servlet>
		<servlet-name>messengerServlet</servlet-name>
		<servlet-class>de.hdm.itprojekt.messenger.server.MessengerAdministrationImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>messengerServlet</servlet-name>
		<url-pattern>/messenger/messenger</url-pattern>
<!-- 		<url-pattern>/reportgenerator/messenger</url-pattern> -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>reportGeneratorServlet</servlet-name>
		<servlet-class>de.hdm.itprojekt.messenger.server.report.ReportGeneratorImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>reportGeneratorServlet</servlet-name>
<!-- 		<url-pattern>/messenger/reportgenerator</url-pattern> -->
		<url-pattern>/reportgenerator/reportgenerator</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Messenger.html</welcome-file>
		<welcome-file>ReportGenerator.html</welcome-file>
	</welcome-file-list>


</appengine-web-app>